/* estilos da pesquisa */
body{
    background-image: url(../images/inical.jpg);
    background-repeat: no-repeat;
background-size: 100%;
}

main div#janela_login {
    width:400px;
    height: 470px;
    margin:55px auto 0px;
    box-shadow: 0px 0px 5px 0px #e2e2e2;
    padding: 30px;
    background-color: white;

 
   
}

main div#janela_login form {
    
     height: 350px;
    margin:10px auto;


}



main div#janela_login form h2  {
    font-family: sans-serif;
    color:#C5996B;
    text-align: center;
    width:300px;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 50px;
	border-bottom: 1px solid #e2e2e2;
}

main div#janela_login form p {
 font-family:'Times New Roman', Times, serif;
 margin-bottom: 2px;

}

main div#janela_login form input[type="text"] {
    width:375px;
    padding:10px;
    border:1px solid  #b8b8b8 ;
    border-radius: 5px;
    display: block;
    
     
  
}

main div#janela_login form input[type="password"] {
    width:280px;
    padding:10px;
    width:375px;
    border:1px solid #b8b8b8;
    border-radius: 5px;
    outline: none;
    margin-bottom: 15px;
}

main div#janela_login form input[type="submit"] {
    display: block;
    width: 395px;
    padding:10px 20px;
    margin-top:15px;
    color: #FFF;
    border:0;
    border-radius: 5px;
    background-color: #C5996B;
    outline: none;
    cursor: pointer;
}

main div#janela_login div#footer{
  width:100%;
  margin-top: 40px;
  height: 20px;
  text-align: center;
 
}

main div#janela_login div#footer a{
    text-decoration: none;
    color: black;
    display: block;
  }

main div#janela_login div#footer p{
    width: 150px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e2e2e2;
    margin: 0 auto;
  }
/* fim do estilo da pesquisa */